<div class="time-container flex-column w-100">
    <div *ngIf="showStopWatch" id="time" class="d-flex align-items-center" (click)="onTimeClick()">
        <p class="time-text">{{getTime()}}</p>
    </div>
    <div *ngIf="!showStopWatch" class="d-flex align-items-center flex-column">
        <form [formGroup]="frmStopWatch">
            <mat-form-field class="input">
                <mat-label>Hours</mat-label>
                <input matInput formControlName="hours" maxlength="2"/>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Minutes</mat-label>
                <input matInput formControlName="minutes" maxlength="2"/>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Seconds</mat-label>
                <input matInput formControlName="seconds" maxlength="2"/>
            </mat-form-field>
        </form>
    </div>   
        
    <div>        
        <button *ngIf="canStop" mat-fab color="primary" (click)="stop()" class="grid-item">
            <mat-icon>stop</mat-icon>
        </button>
        <button *ngIf="canStart" mat-fab color="primary" (click)="start()" class="grid-item">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button *ngIf="canPause" mat-fab color="primary" (click)="pause()" class="grid-item">
            <mat-icon>pause</mat-icon>
        </button>
    </div>
</div>
