#time{
    margin-bottom: 2em;
}

.input{
    width: 6em;
}

.grid-item {
    margin-right: 1em;
    margin-left: 1em;
}

.milliseconds-text{
    font-size: 0.5em;
}

.button-container{
    margin-bottom: 30px;
}

.laps-container{
    max-height: 300px;
    overflow: auto;
}